MLRIT IOT/guitar_smart irrigation system/node red flow for smart irrigation system.txt
[{"id":"ac7a7a53.adace8","type":"tab","label":"irrigation system","disabled":false,"info":""},{"id":"51887afa.7e8f04","type":"ui_button","z":"ac7a7a53.adace8","name":"","group":"57f8145a.10d98c","order":0,"width":0,"height":0,"passthru":false,"label":"motor_ON button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"motor_ON","payloadType":"str","topic":"","x":227,"y":166,"wires":[["9d11e2e3.e7e69","5f0a1ec2.735fd"]]},{"id":"5a002e4a.481fc","type":"ui_button","z":"ac7a7a53.adace8","name":"","group":"57f8145a.10d98c","order":0,"width":0,"height":0,"passthru":false,"label":"motor_OFF button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"motor_OFF","payloadType":"str","topic":"","x":246,"y":278,"wires":[["9d11e2e3.e7e69","5f0a1ec2.735fd"]]},{"id":"9d11e2e3.e7e69","type":"debug","z":"ac7a7a53.adace8","name":"button output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":546.5,"y":176,"wires":[]},{"id":"5f0a1ec2.735fd","type":"ibmiot out","z":"ac7a7a53.adace8","authentication":"apiKey","apiKey":"ed08da50.218e08","outputType":"cmd","deviceId":"5555","deviceType":"nodemcu555","eventCommandType":"home","format":"String","data":"ok","qos":0,"name":"IBM IoT","service":"registered","x":532,"y":282,"wires":[]},{"id":"e26b699.1a8d998","type":"http in","z":"ac7a7a53.adace8","name":"","url":"/garden","method":"get","upload":false,"swaggerDoc":"","x":81,"y":439,"wires":[["a6028159.d5041"]]},{"id":"8820d539.843858","type":"http response","z":"ac7a7a53.adace8","name":"","statusCode":"","headers":{},"x":679,"y":434,"wires":[]},{"id":"1f662281.ab31ad","type":"debug","z":"ac7a7a53.adace8","name":"http request output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":666,"y":524,"wires":[]},{"id":"a6028159.d5041","type":"function","z":"ac7a7a53.adace8","name":"http response after json parsing","func":"msg.payload=msg.payload.command\nreturn msg;","outputs":1,"noerr":0,"x":355,"y":437,"wires":[["8820d539.843858","1f662281.ab31ad","5f0a1ec2.735fd"]]},{"id":"104c904a.fe7f7","type":"ibmiot in","z":"ac7a7a53.adace8","authentication":"apiKey","apiKey":"ed08da50.218e08","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"5555","applicationId":"","deviceType":"nodemcu555","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":136,"y":655,"wires":[["290071c2.9b8aee","91dbd951.9c6d08","ae8e4363.d70d7","925defe0.7911c"]]},{"id":"290071c2.9b8aee","type":"debug","z":"ac7a7a53.adace8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":394,"y":636,"wires":[]},{"id":"91dbd951.9c6d08","type":"function","z":"ac7a7a53.adace8","name":"humidity passing","func":"global.set(\"H\",msg.payload.d.humidity)\nmsg.payload=msg.payload.d.humidity\nreturn msg;","outputs":1,"noerr":0,"x":394,"y":772,"wires":[["8e97586d.0ac208","40732bb9.dc29e4"]]},{"id":"8e97586d.0ac208","type":"debug","z":"ac7a7a53.adace8","name":"humidity value","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":650,"y":876,"wires":[]},{"id":"ae8e4363.d70d7","type":"function","z":"ac7a7a53.adace8","name":"temperature passing","func":"global.set(\"T\",msg.payload.d.temperature)\nmsg.payload=msg.payload.d.temperature\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":711,"wires":[["32736825.a252a8","f2195100.403dc"]]},{"id":"32736825.a252a8","type":"debug","z":"ac7a7a53.adace8","name":"temperature value","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":660,"y":680,"wires":[]},{"id":"40732bb9.dc29e4","type":"ui_gauge","z":"ac7a7a53.adace8","name":"","group":"57f8145a.10d98c","order":0,"width":0,"height":0,"gtype":"gage","title":"humidity","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#ff0000","#e6e600","#ca3838"],"seg1":"","seg2":"","x":650,"y":804,"wires":[]},{"id":"f2195100.403dc","type":"ui_gauge","z":"ac7a7a53.adace8","name":"","group":"57f8145a.10d98c","order":0,"width":0,"height":0,"gtype":"gage","title":"temperature","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#80ff00","#e6e600","#ca3838"],"seg1":"","seg2":"","x":674,"y":756,"wires":[]},{"id":"925defe0.7911c","type":"function","z":"ac7a7a53.adace8","name":"soil_moisture","func":"global.set(\"M\",msg.payload.d.soil_moisture)\nmsg.payload=msg.payload.d.soil_moisture\nreturn msg;","outputs":1,"noerr":0,"x":379,"y":877,"wires":[["dc73e7ea.43bdb8"]]},{"id":"dc73e7ea.43bdb8","type":"debug","z":"ac7a7a53.adace8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":626,"y":970,"wires":[]},{"id":"74efa502.2258cc","type":"http in","z":"ac7a7a53.adace8","name":"","url":"/irrigation","method":"get","upload":false,"swaggerDoc":"","x":75,"y":1027,"wires":[["a7a3aa9f.3f2c08"]]},{"id":"a7a3aa9f.3f2c08","type":"function","z":"ac7a7a53.adace8","name":"irrigation parsing request","func":"msg.payload={\"temperature\":global.get(\"T\"),\"humidity\":global.get(\"H\"),\"moisture\":global.get(\"M\")}\nreturn msg;","outputs":1,"noerr":0,"x":366.5,"y":1032,"wires":[["fb3852bb.10c5c"]]},{"id":"fb3852bb.10c5c","type":"http response","z":"ac7a7a53.adace8","name":"","statusCode":"","headers":{},"x":711,"y":1037,"wires":[]},{"id":"57f8145a.10d98c","type":"ui_group","z":"","name":"Default","tab":"4e6513aa.bee0ec","disp":true,"width":"6","collapse":false},{"id":"ed08da50.218e08","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"ti62vq.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"4e6513aa.bee0ec","type":"ui_tab","z":"","name":"GARDEN","icon":"dashboard","disabled":false,"hidden":false}]