MLRIT IOT/innovators-green house monitoring/NODERED FLOW.txt
[{"id":"8017d80.604c028","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"31800807.019d28","type":"ibmiot in","z":"8017d80.604c028","authentication":"apiKey","apiKey":"9c14d1fa.afb7f","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"0071","applicationId":"","deviceType":"nodemcu0404","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":144.10000610351562,"y":463,"wires":[["84d94639.b64a78","59a63cb9.a00924","140f2eaf.c972e1","50f245de.90173c","d4204ba3.d3cff8"]]},{"id":"84d94639.b64a78","type":"debug","z":"8017d80.604c028","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":497.10003662109375,"y":204,"wires":[]},{"id":"59a63cb9.a00924","type":"function","z":"8017d80.604c028","name":"temperature readings","func":"global.set(\"t\",msg.payload.d.temperature)\nmsg.payload=msg.payload.d.temperature\nreturn msg;","outputs":1,"noerr":0,"x":379.5,"y":279,"wires":[["ba3cab41.0b3528","afd29146.aec18"]]},{"id":"ba3cab41.0b3528","type":"debug","z":"8017d80.604c028","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":702.1000366210938,"y":235,"wires":[]},{"id":"8b187a83.a65f48","type":"debug","z":"8017d80.604c028","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":691.1000366210938,"y":395,"wires":[]},{"id":"afd29146.aec18","type":"ui_gauge","z":"8017d80.604c028","name":"","group":"4bced9fc.0aff08","order":0,"width":0,"height":0,"gtype":"gage","title":"temperature","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":703.1000366210938,"y":311,"wires":[]},{"id":"fb055e75.aa681","type":"ui_gauge","z":"8017d80.604c028","name":"","group":"f6a0be17.19774","order":0,"width":0,"height":0,"gtype":"gage","title":"humidity","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":720.1000366210938,"y":451,"wires":[]},{"id":"2953e30.c44871e","type":"function","z":"8017d80.604c028","name":"weather response function","func":"msg.payload={\"temperature\":global.get(\"t\"),\"humidity\":global.get(\"h\"),\"mq135\":global.get(\"mq135\"),\"mq2\":global.get(\"mq2\")}\nreturn msg;","outputs":1,"noerr":0,"x":457.10003662109375,"y":777.2000122070312,"wires":[["c5f60a30.d60b18"]]},{"id":"7a3fff9.4ca2d","type":"inject","z":"8017d80.604c028","name":"","topic":"","payload":"what is climate condition","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":188.10000228881836,"y":863.0000133514404,"wires":[["a4c9e019.e378c","5db748ae.43d818"]]},{"id":"afae6a9e.f50cb8","type":"debug","z":"8017d80.604c028","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":743.1000604629517,"y":962.0000123977661,"wires":[]},{"id":"a4c9e019.e378c","type":"watson-conversation-v1","z":"8017d80.604c028","name":"","workspaceid":"","multiuser":false,"context":true,"empty-payload":false,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/assistant/api","timeout":"","optout-learning":false,"x":434.1000061035156,"y":853,"wires":[["5db748ae.43d818"]]},{"id":"5db748ae.43d818","type":"function","z":"8017d80.604c028","name":"json passing for bot response","func":"msg.payload=msg.payload.output.text[0]\nreturn msg;","outputs":1,"noerr":0,"x":574.5,"y":920,"wires":[["afae6a9e.f50cb8"]]},{"id":"90cd3cf3.270e7","type":"switch","z":"8017d80.604c028","name":"bot response switch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"temperature","vt":"str"},{"t":"eq","v":"humidity","vt":"str"},{"t":"eq","v":"climate","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":4,"x":173.0999984741211,"y":1185,"wires":[["e4b1acdd.7b2a3"],["d11d0404.2e1ef8"],["5b030036.4b2d3"],["83c590e7.d4c4f"]]},{"id":"d11d0404.2e1ef8","type":"function","z":"8017d80.604c028","name":"humidity","func":"msg.payload=\"todays humidity is\"+global.get(\"H\")\nreturn msg;","outputs":1,"noerr":0,"x":412.1000671386719,"y":1170,"wires":[["83c590e7.d4c4f","6ec6d176.8d688"]]},{"id":"5b030036.4b2d3","type":"function","z":"8017d80.604c028","name":"climate","func":"msg.payload=\"todays temperature and humidity are\"+global.get(\"T\")+\",\"+global.get(\"H\")\nreturn msg;return msg;","outputs":1,"noerr":0,"x":419.10009765625,"y":1262,"wires":[["83c590e7.d4c4f","6ec6d176.8d688"]]},{"id":"e4b1acdd.7b2a3","type":"function","z":"8017d80.604c028","name":"temperature","func":"msg.payload=\"todays temperature is\"+global.get(\"T\")\nreturn msg;","outputs":1,"noerr":0,"x":404.10003662109375,"y":1119,"wires":[["83c590e7.d4c4f","6ec6d176.8d688"]]},{"id":"83c590e7.d4c4f","type":"debug","z":"8017d80.604c028","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":706.1000366210938,"y":1190,"wires":[]},{"id":"fcc86915.c772c8","type":"ui_form","z":"8017d80.604c028","name":"","label":"","group":"4163339a.6b08dc","order":0,"width":0,"height":0,"options":[{"label":"enter the input","value":"input","type":"text","required":true}],"formValue":{"input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":116.50009155273438,"y":1041.8665771484375,"wires":[["1dbc51f5.d5f0de"]]},{"id":"7a95529a.a4f80c","type":"debug","z":"8017d80.604c028","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":685.2999877929688,"y":1049.066650390625,"wires":[]},{"id":"1dbc51f5.d5f0de","type":"function","z":"8017d80.604c028","name":"form output for json passing","func":"msg.payload=msg.payload.user_iutput\nreturn msg;","outputs":1,"noerr":0,"x":391.50006103515625,"y":1043.2666015625,"wires":[["7a95529a.a4f80c","c8cbddc6.31b4b","a4c9e019.e378c"]]},{"id":"c8cbddc6.31b4b","type":"ui_text","z":"8017d80.604c028","group":"3dd2408.d661ac","order":0,"width":0,"height":0,"name":"","label":"weather chatbot","format":"{{msg.payload}}","layout":"row-left","x":689.2999877929688,"y":1119.533447265625,"wires":[]},{"id":"50f245de.90173c","type":"function","z":"8017d80.604c028","name":"mq135value","func":"global.set(\"mq135\",msg.payload.d.mq135)\nmsg.payload=msg.payload.d.mq135\nreturn msg;","outputs":1,"noerr":0,"x":323.5,"y":488,"wires":[["3502824f.f3461e","5c0dca76.0062c4"]]},{"id":"d4204ba3.d3cff8","type":"function","z":"8017d80.604c028","name":"mq2value","func":"global.set(\"mq2\",msg.payload.d.mq2)\nmsg.payload=msg.payload.d.mq2\nreturn msg;","outputs":1,"noerr":0,"x":312.5,"y":611,"wires":[["67c3752e.7b364c","7d0ace20.c760f"]]},{"id":"140f2eaf.c972e1","type":"function","z":"8017d80.604c028","name":"humidity reading","func":"global.set(\"h\",msg.payload.d.humidity)\nmsg.payload=msg.payload.d.humidity\nreturn msg;","outputs":1,"noerr":0,"x":428.5,"y":386,"wires":[["8b187a83.a65f48","fb055e75.aa681"]]},{"id":"5c0dca76.0062c4","type":"debug","z":"8017d80.604c028","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":667,"y":518,"wires":[]},{"id":"3502824f.f3461e","type":"ui_gauge","z":"8017d80.604c028","name":"","group":"4bced9fc.0aff08","order":0,"width":0,"height":0,"gtype":"gage","title":"mq135","label":"units","format":"{{value}}","min":0,"max":"1","colors":["#000000","#da5f0c","#400000"],"seg1":"","seg2":"","x":589.5,"y":565,"wires":[]},{"id":"7d0ace20.c760f","type":"ui_gauge","z":"8017d80.604c028","name":"","group":"4bced9fc.0aff08","order":2,"width":0,"height":0,"gtype":"gage","title":"mq2","label":"units","format":"{{value}}","min":0,"max":"1024","colors":["#36268e","#8b7a5a","#c22fd2"],"seg1":"","seg2":"","x":615.5,"y":690,"wires":[]},{"id":"67c3752e.7b364c","type":"debug","z":"8017d80.604c028","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":603,"y":634,"wires":[]},{"id":"c5f60a30.d60b18","type":"http response","z":"8017d80.604c028","name":"","statusCode":"","headers":{},"x":711,"y":783,"wires":[]},{"id":"eff118dc.9406e8","type":"http in","z":"8017d80.604c028","name":"","url":"/greenhouses","method":"get","upload":false,"swaggerDoc":"","x":211,"y":766,"wires":[["2953e30.c44871e"]]},{"id":"6ec6d176.8d688","type":"ui_text","z":"8017d80.604c028","group":"4bced9fc.0aff08","order":3,"width":0,"height":0,"name":"","label":"output","format":"{{msg.payload}}","layout":"row-spread","x":699,"y":1261,"wires":[]},{"id":"9c14d1fa.afb7f","type":"ibmiot","z":"","name":"climate info","keepalive":"60","serverName":"xm610m.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"4bced9fc.0aff08","type":"ui_group","z":"","name":"mq2","tab":"b30f24f3.23ff58","disp":true,"width":"6","collapse":false},{"id":"f6a0be17.19774","type":"ui_group","z":"","name":"humidity","tab":"b30f24f3.23ff58","disp":true,"width":"8","collapse":false},{"id":"4163339a.6b08dc","type":"ui_group","z":"","name":"Default","tab":"1f379955.1d4587","disp":true,"width":"14","collapse":false},{"id":"3dd2408.d661ac","type":"ui_group","z":"","name":"Default","tab":"cd9bcad.0ef4038","disp":true,"width":"14","collapse":false},{"id":"b30f24f3.23ff58","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"1f379955.1d4587","type":"ui_tab","z":"","name":"weather chatbot","icon":"dashboard","disabled":false,"hidden":false},{"id":"cd9bcad.0ef4038","type":"ui_tab","z":"","name":"weather chatbot","icon":"dashboard","disabled":false,"hidden":false}]