MLRIT IOT/startic-smart street management/node red code.txt
[{"id":"55eed205.4d69fc","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"13fcc126.26908f","type":"ui_button","z":"55eed205.4d69fc","name":"","group":"973ce30c.5bb52","order":0,"width":0,"height":0,"passthru":false,"label":"automatic mode","tooltip":"","color":"","bgcolor":"","icon":"","payload":"ldr","payloadType":"str","topic":"","x":181,"y":896,"wires":[["b62902e3.34a08","caac4b76.25f288"]]},{"id":"b62902e3.34a08","type":"debug","z":"55eed205.4d69fc","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":645,"y":892,"wires":[]},{"id":"e70d16f1.868f18","type":"ui_button","z":"55eed205.4d69fc","name":"","group":"3aefaf17.617f8","order":0,"width":0,"height":0,"passthru":false,"label":"light on button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"LIGHTON","payloadType":"str","topic":"","x":178,"y":978,"wires":[["1e814c94.149493","caac4b76.25f288"]]},{"id":"99ee2837.a12e28","type":"ui_button","z":"55eed205.4d69fc","name":"","group":"3aefaf17.617f8","order":1,"width":0,"height":0,"passthru":false,"label":"light off button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"LIGHTOFF","payloadType":"str","topic":"","x":166,"y":1043,"wires":[["1e814c94.149493","caac4b76.25f288"]]},{"id":"1e814c94.149493","type":"debug","z":"55eed205.4d69fc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":676,"y":977,"wires":[]},{"id":"caac4b76.25f288","type":"ibmiot out","z":"55eed205.4d69fc","authentication":"apiKey","apiKey":"1c6e8520.d974fb","outputType":"cmd","deviceId":"0404","deviceType":"nodemcu","eventCommandType":"manual control","format":"String","data":"ok","qos":0,"name":"IBM IoT","service":"registered","x":686,"y":1098,"wires":[]},{"id":"eece1a06.c5a428","type":"http response","z":"55eed205.4d69fc","name":"","statusCode":"","headers":{},"x":703,"y":1175,"wires":[]},{"id":"5bb53d09.eb0494","type":"http in","z":"55eed205.4d69fc","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":162,"y":1129,"wires":[["c43096e2.d3a5e8"]]},{"id":"c43096e2.d3a5e8","type":"function","z":"55eed205.4d69fc","name":"MANUAL REQUEST","func":"msg.payload=msg.payload.command\nreturn msg;","outputs":1,"noerr":0,"x":396,"y":1129,"wires":[["eece1a06.c5a428","caac4b76.25f288","288d1426.5ead2c"]]},{"id":"288d1426.5ead2c","type":"debug","z":"55eed205.4d69fc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":660,"y":1234,"wires":[]},{"id":"973ce30c.5bb52","type":"ui_group","z":"","name":"smart street light","tab":"8f3656a3.16ad48","disp":true,"width":"6","collapse":false},{"id":"3aefaf17.617f8","type":"ui_group","z":"","name":"manual","tab":"ae320608.a20388","disp":true,"width":"6","collapse":false},{"id":"1c6e8520.d974fb","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"dooo8z.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"8f3656a3.16ad48","type":"ui_tab","z":"","name":"ldr","icon":"dashboard","disabled":false,"hidden":false},{"id":"ae320608.a20388","type":"ui_tab","z":"","name":"light on","icon":"dashboard","disabled":false,"hidden":false}]