MLRIT IOT/code trackers-smart home automation using watson services/node red.txt
[{"id":"5ff9ede0.5f25d4","type":"tab","label":"SMART HOME AUTOMATION","disabled":false,"info":""},{"id":"9a464630.0f65a8","type":"function","z":"5ff9ede0.5f25d4","name":"json for parsing bot response","func":"msg.payload=msg.payload.output.text[0]\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":220,"wires":[["e8d85d5d.211f8","7938d0f5.87a1b"]]},{"id":"d6bd4630.17dc08","type":"watson-conversation-v1","z":"5ff9ede0.5f25d4","name":"","workspaceid":"da1016fe-d5f7-4cbd-8b38-59c69d360509","multiuser":false,"context":true,"empty-payload":false,"default-endpoint":false,"service-endpoint":"https://gateway-lon.watsonplatform.net/assistant/api","timeout":"","optout-learning":false,"x":380,"y":140,"wires":[["9a464630.0f65a8","9356e947.0da988"]]},{"id":"e8d85d5d.211f8","type":"debug","z":"5ff9ede0.5f25d4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":750,"y":140,"wires":[]},{"id":"7938d0f5.87a1b","type":"ui_text","z":"5ff9ede0.5f25d4","group":"da8255be.238188","order":3,"width":0,"height":0,"name":"","label":"bot output:  ","format":"{{msg.payload}}","layout":"row-left","x":770,"y":220,"wires":[]},{"id":"573bcb94.f92844","type":"ui_form","z":"5ff9ede0.5f25d4","name":"","label":"","group":"da8255be.238188","order":1,"width":0,"height":0,"options":[{"label":"user input","value":"user_input","type":"text","required":true}],"formValue":{"user_input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":90,"y":120,"wires":[["cc1e3ca1.c657f"]]},{"id":"cc1e3ca1.c657f","type":"function","z":"5ff9ede0.5f25d4","name":"form output for parsing","func":"msg.payload=msg.payload.user_input\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":100,"wires":[["66005c03.44f484","d6bd4630.17dc08"]]},{"id":"66005c03.44f484","type":"ui_text","z":"5ff9ede0.5f25d4","group":"da8255be.238188","order":2,"width":0,"height":0,"name":"","label":"user input:  ","format":"{{msg.payload}}","layout":"row-left","x":610,"y":80,"wires":[]},{"id":"1c9c379c.1b1bc8","type":"http in","z":"5ff9ede0.5f25d4","name":"","url":"/home","method":"get","upload":false,"swaggerDoc":"","x":100,"y":320,"wires":[["90332f06.14919"]]},{"id":"6240a510.3fabdc","type":"http response","z":"5ff9ede0.5f25d4","name":"","statusCode":"","headers":{},"x":570,"y":280,"wires":[]},{"id":"68539744.f7f908","type":"debug","z":"5ff9ede0.5f25d4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":730,"y":440,"wires":[]},{"id":"90332f06.14919","type":"function","z":"5ff9ede0.5f25d4","name":"api request","func":"msg.payload= msg.payload.command\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":300,"wires":[["6240a510.3fabdc","68539744.f7f908","9356e947.0da988"]]},{"id":"acd93e0c.6d71f","type":"http in","z":"5ff9ede0.5f25d4","name":"","url":"/speech","method":"get","upload":false,"swaggerDoc":"","x":170,"y":460,"wires":[["4a51eb1e.a33bc4"]]},{"id":"687e7186.9abcb","type":"http response","z":"5ff9ede0.5f25d4","name":"","statusCode":"","headers":{},"x":690,"y":540,"wires":[]},{"id":"4a51eb1e.a33bc4","type":"function","z":"5ff9ede0.5f25d4","name":"api request","func":"msg.payload= msg.payload.command\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":420,"wires":[["687e7186.9abcb","68539744.f7f908","9356e947.0da988"]]},{"id":"9356e947.0da988","type":"ibmiot out","z":"5ff9ede0.5f25d4","authentication":"apiKey","apiKey":"37fc030e.a6226c","outputType":"cmd","deviceId":"1234","deviceType":"home","eventCommandType":"home","format":"String","data":"ok","qos":0,"name":"IBM IoT","service":"registered","x":760,"y":320,"wires":[]},{"id":"da8255be.238188","type":"ui_group","z":"","name":"smart home automation","tab":"75a3b9ed.dc0a88","disp":true,"width":"13","collapse":false},{"id":"37fc030e.a6226c","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"7qjod5.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"75a3b9ed.dc0a88","type":"ui_tab","z":"","name":"home_automation","icon":"dashboard","disabled":false,"hidden":false}]